<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Home</title>
	<link rel="icon" href="../img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="../vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/addproduct copy.css">
</head>
<body>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="/"><img src="../img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"><a class="nav-link" href="/">Trang chủ</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Shop</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/product">Sản phẩm</a></li>
                  <li class="nav-item"><a class="nav-link" href="/cart">Giỏ hàng</a></li>
                </ul>
							</li>
							<li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/login">Đăng nhập</a></li>
                  <li class="nav-item"><a class="nav-link" href="/register">Đăng kí</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Hỗ trợ</a></li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><button><i class="ti-search"></i></button></li>
              <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
              <li class="nav-item" id="display_login">
           
             
                
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="framepage">
      <div class="option-admin">
        <nav class="link-option">
                <a href="/admin"><i class="fa-solid fa-users"></i> <span> Quản lý User</span></a>
                <a href="/admin/showproduct"><i class="fa-solid fa-list"></i> <span>Danh sách SP</span></a>
                <a href="/admin/add-product"><i class="fa-solid fa-mobile-screen-button"></i><span>Thêm sản phẩm</span></a>
                <a href="#" onclick="pendingOrder()"><i class="fa-solid fa-truck-fast"></i><span>Đang giao</span></a>
                <a href="#" onclick="successOrder()"><i class="fa-solid fa-box"></i><span>Đã giao</span></a>
                <a href="#"><i class="fa-solid fa-chart-line"></i><span>Thống kê</span></a>
        </nav>
        
      </div>
      <div class="show-page" id="show-page">

      <div id="list_user">
        <div class="show-content" id="column">
            <div>Username</div>
            <div class="box2">Email</div>
            <div>role</div>
            <div>Phone</div>
            <div>Action</div>
        </div>
      
   
    </div>
      </div>
        <form  id="form-add"  enctype="multipart/form-data">
          <div class="alert alert-success" role="alert" id="alert-success">
           Thêm sản phẩm thành công
          </div>
              <div class="option-add-product">
                <a onclick="replace2()">Thêm sản phẩm </a> 
                <a onclick="replace()">Thêm Chi tiết sản phẩm</a>
              </div>
              <div class="inputBox" id="inputBox">
                  <input type="text" placeholder="tên sản phẩm" name="Name" id="nameproduct">
              </div>
              <div class="inputBox" id="inputBox">
                <input type="text" placeholder="hãng" name="Brand" id="brand">
            </div>

           <div class="inputBox" id="inputBox">
              <input type="text" placeholder="RAM" name="RAM" id="ram"> 
           </div>
           <div class="inputBox" id="inputBox">
               <input type="text" placeholder="bộ nhớ trong" name="ROM" id="rom"> 
           </div>
              <div class="inputBox" >
                  <input type="number" placeholder="discount" name="Discount" id="discount">
                  <input type="file" placeholder="subject" name="formFile" id="formFile" style="border: none;">
              </div>

          
                <textarea name="Describes" placeholder="mô tả" id="Describes" cols="30" rows="10"></textarea>
                <input type="submit" value="Lưu" class="btn" name="sub1">
      </form>
      
      <form action="add-detail" id="form-detail" method="POST" enctype="multipart/form-data">
        <div class="option-add-product">
          <a onclick="replace2()">Thêm sản phẩm </a> 
          <a onclick="replace()">Thêm Chi tiết sản phẩm</a>
        </div>
        <div class="inputBox" id="inputBox">
          <select name="ID_Product" id="id_product">
             
          </select>
    </div>
    <div class="inputBox" id="inputBox">
      <input type="text" placeholder="Mã" name="id_detail" id="id_detail">
  </div>
        <div class="inputBox" id="inputBox">
            <input type="text" placeholder="màu" name="color" id="color">
        </div>
        <div class="inputBox" id="inputBox">
          <input type="text" placeholder="màn hình" name="screen" id="screen">
      </div>
        <div class="inputBox" >
            <input type="text" placeholder="hệ điều hành" name="OS" id="os">
        </div>
        <div class="inputBox" id="inputBox">
            <input type="text" placeholder="chip" name="Chip" id="chip"> 
        </div>
        <div class="inputBox" id="inputBox">
            <input type="text" placeholder="cameratruoc" name="frontcamera" id="frontcam"> 
        </div>
        <div class="inputBox" id="inputBox">
          <input type="text" placeholder="camerasau" name="rearcamera" id="rearcam"> 
        </div>

      <div class="inputBox" id="inputBox">
          <input type="text" placeholder="Pin" name="pin" id="pin"> 
       </div>

    <div class="inputBox" id="inputBox">
      <input type="text" placeholder="giá" name="price" id="price"> 
    </div>
    <div class="inputBox" id="inputBox">
      <input type="text" placeholder="số lượng" name="numbers" id="numbers" value=""> 
    </div>
    <div class="inputBox" id="inputBox">
      <input type="file" placeholder="subject" name="filedetail" id="filedetail" style="border: none;">
    </div>
  
        <input type="submit" value="Lưu" class="btn">
    </form>
          
      </div>
  </section>

  <!-- <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendors/skrollr.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="vendors/jquery.ajaxchimp.min.js"></script>
  <script src="vendors/mail-script.js"></script> -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src="../js/addProduct.js"></script>
  <script src="../js/display_login.js"></script>

  <script type = "text/javascript">
    function replace() {
    document.getElementById("form-add").style.display="none";
    document.getElementById("form-detail").style.display="block";
    }
    function replace2() {
    document.getElementById("form-add").style.display="block";
    document.getElementById("form-detail").style.display="none";
    }
    </script>
</body>
</html>