<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Đổi mật khẩu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="card mb-4" style="width:50%;left: 50%;;transform: translateX(-50%);">
        <div class="card-header" >Đổi mật khẩu</div>
        <div class="card-body">
            <p class="status">Đổi thành công</p>
            <form id="form-changepass">
                <!-- Form Group (current password)-->
               
                <div class="mb-3">

                    <label class="small mb-1" for="currentPassword">Mật khẩu hiện tại</label>
                    <input class="form-control" id="currentPassword" type="password" >
                    <p class="check-current-pass">Mật khẩu hiện tại không đúng</p>
                </div>
                <!-- Form Group (new password)-->
                <div class="mb-3">
                    <label class="small mb-1" for="newPassword">Mật khẩu mới</label>
                    <input class="form-control" id="newPassword" type="password">
                    <p id="checkpass" style="font-size: 0.8rem;"></p>
                </div>
                <!-- Form Group (confirm password)-->
                <div class="mb-3">
                    <label class="small mb-1" for="confirmPassword">Xác nhận mật khẩu</label>
                    <input class="form-control" id="confirmPassword" type="password">
                </div>
                <button class="btn btn-primary" style="border-radius: 0;" type="button" id="btn-change-pass">Lưu</button>
                <button class="btn btn-primary" style="margin-left: 1rem; border-radius: 0;" type="button" id="return-home">Home</button>
            </form>
        </div>
    </div>
    <script src="../js/changepass.js"></script>
    <style>
        .check-current-pass{
            color: red;
            font-size: 0.8rem;
            display: none;
        }
        .check-current-pass.active{
            display: block;
        }
        .status{
            color: green;
            font-size: 1rem;
            display: none;
            /* 
             */
        }
        .status.active{
            display: block;
        }
    </style>
<style type="text/css">
.btn:hover{
    background-color: #ffffff;
    color: #0061f2;
}
body{margin-top:20px;
background-color:#f2f6fc;
color:#69707a;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn-danger-soft {
    color: #000;
    background-color: #f1e0e3;
    border-color: #f1e0e3;
}
</style>


</body>
</html>