<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Login</title>
	<link rel="icon" href="../img/Fevicon.png" type="image/png">
 
	<link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="../vendors/linericon/style.css">
	<link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="../vendors/nice-select/nice-select.css">
	<link rel="stylesheet" href="../vendors/nouislider/nouislider.min.css">
  
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
		  <nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
			  <a class="navbar-brand logo_h" href="/"><img src="../img/logo.png" alt=""></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
				<ul class="nav navbar-nav menu_nav ml-auto mr-auto">
				  <li class="nav-item active"><a class="nav-link" href="/">Trang chủ</a></li>
				  <li class="nav-item submenu dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
					  aria-expanded="false">Shop</a>
					<ul class="dropdown-menu">
					  <li class="nav-item"><a class="nav-link" href="/product">Sản phẩm</a></li>
					  <li class="nav-item"><a class="nav-link" href="/cart">Giỏ hàng</a></li>
					</ul>
								</li>
								<li class="nav-item submenu dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
					  aria-expanded="false">Pages</a>
					<ul class="dropdown-menu">
					  <li class="nav-item"><a class="nav-link" href="/login">Đăng nhập</a></li>
					  <li class="nav-item"><a class="nav-link" href="/register">Đăng kí</a></li>
					</ul>
				  </li>
				  <li class="nav-item"><a class="nav-link" href="contact.html">Hỗ trợ</a></li>
				</ul>
	
				<ul class="nav-shop">
				  <li class="nav-item"><button><i class="ti-search"></i></button></li>
				  <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
				  <li class="nav-item" id="display_login">
				
				 
					
				  </li>
				</ul>
			  </div>
			</div>
		  </nav>
		</div>
	  </header>
	<!--================ End Header Menu Area =================-->
  
  <!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Đăng nhập / Đăng kí</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Đăng nhập/Đăng kí</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>Chào mừng đến với Aroma</h4>
							<p>Nơi cũng cấp những chiếc điện thoại thông minh mới nhất chất lượng nhất</p>
							<a class="button button-account" href="register">Tạo tài khoản</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Đăng nhập</h3>
						<p id="status-request"></p>
						<form class="row login_form" action="" id="contactForm" >
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="username" name=username" placeholder="Tên đăng nhập" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tên đăng nhập '">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu'">
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									
									
								</div>
							</div>
						
						</form>
						<div class="col-md-12 form-group">
							<button type="submit" id="submit" value="submit" class="button button-login w-100">Đăng nhập</button>
							<a href="/reset-password">Quên mật khẩu?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->



  <!--================ Start footer Area  =================-->	
  <footer class="footer">
	<div class="footer-area">
		<div class="container">
			<div class="row section_gap">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget tp_widgets">
						<h4 class="footer_title large_title">Tôn chỉ cửa hàng</h4>
						<p>
			Mang đến những sản phẩm chất lượng nhất cho khách hàng
						</p>
						<p>
							Sản phẩm chính hãng được kiểm duyệt chặt chẽ, đem đến sự an tâm tin tưởng cho người dùng
						</p>
					</div>
				</div>
				<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget tp_widgets">
						<h4 class="footer_title">Truy cập nhanh</h4>
						<ul class="list">
							<li><a href="#">Trang chủ</a></li>
							<li><a href="#">Sản Phẩm</a></li>
							<li><a href="#">Đăng nhập</a></li>
							<li><a href="#">Đăng kí</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget instafeed">
						<h4 class="footer_title">Gallery</h4>
						<ul class="list instafeed d-flex flex-wrap">
							<li><img src="../img/gallery/r1.jpg" alt=""></li>
							<li><img src="../img/gallery/r2.jpg" alt=""></li>
							<li><img src="../img/gallery/r3.jpg" alt=""></li>
							<li><img src="../img/gallery/r5.jpg" alt=""></li>
							<li><img src="../img/gallery/r7.jpg" alt=""></li>
							<li><img src="../img/gallery/r8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget tp_widgets">
						<h4 class="footer_title">Contact Us</h4>
						<div class="ml-40">
							<p class="sm-head">
								<span class="fa fa-location-arrow"></span>
								Trụ sở
							</p>
							<p>Xuân Kiên, Xuân Trường, Nam Định</p>

							<p class="sm-head">
								<span class="fa fa-phone"></span>
								Phone Number
							</p>
							<p>
								0 867 153 008 <br>
								0 373 806 452
							</p>

							<p class="sm-head">
								<span class="fa fa-envelope"></span>
								Email
							</p>
							<p>
								maivantri309@gmail.com <br>
				
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row d-flex">
				<p class="col-lg-12 footer-text text-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		</div>
	</div>
</footer>
	<!--================ End footer Area  =================-->



	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="../vendors/skrollr.min.js"></script>
	<script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="../vendors/nice-select/jquery.nice-select.min.js"></script>
	<script src="../vendors/jquery.ajaxchimp.min.js"></script>
	<script src="../vendors/mail-script.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/login.js"></script>
</body>
</html>