<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>
            Name
        </th>
        <th>
            Price
        </th>
      </tr >
      <tr>
          <td>s</td>
      </tr>
      <tr>
        <td>s</td>
    </tr>
</table>
        <div id="data">
                sss
        </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $.ajax({
                type:"GET",
                url:"products",
                contentType:"application/json",
                data:"json",
                success: function(data){
                    var text="<table>";
                    console.log(data);
                    for(let i=0;i < data.length;i++){
                       text+="<tr><td>" + data[i].name + "</td></tr>"

                    }
                    console.log(text)
                    document.getElementById("data").innerHTML=text+"</table>";
                }

        })
    </script>
        
</html>
