<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Home</title>
	<link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="../vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="../vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="../vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="../endors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/productadmin.css">
</head>
<body>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="/"><img src="../img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"><a class="nav-link" href="/">Trang chủ</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Shop</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/product">Sản phẩm</a></li>
                  <li class="nav-item"><a class="nav-link" href="/cart">Giỏ hàng</a></li>
                </ul>
							</li>
							<li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/login">Đăng nhập</a></li>
                  <li class="nav-item"><a class="nav-link" href="/register">Đăng kí</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Hỗ trợ</a></li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><button><i class="ti-search"></i></button></li>
              <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
              <li class="nav-item" id="display_login">
           
             
                
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="framepage">
      <div class="option-admin">
        <nav class="link-option">
          <a href="/admin"><i class="fa-solid fa-users"></i> <span> Quản lý User</span></a>
          <a href=""><i class="fa-solid fa-list"></i> <span>Danh sách SP</span></a>
          <a href="/admin/add-product"><i class="fa-solid fa-mobile-screen-button"></i><span>Thêm sản phẩm</span></a>
          <a href="#" onclick="pendingOrder()"><i class="fa-solid fa-truck-fast"></i><span>Đang giao</span></a>
          <a href="#" onclick="successOrder()"><i class="fa-solid fa-box"></i><span>Đã giao</span></a>
          <a href="/thong_ke"><i class="fa-solid fa-chart-line"></i><span>Thống kê</span></a>
        </nav>
        
      </div>
      <div class="show-page" id="showmodel">
        <span onclick="showModel()">Dòng sản phẩm</span>
        <span onclick="showDetail()">Các sản phẩm</span>
        <div class="col-md-6" id="box-search">

          <div class="form">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control form-input" placeholder="Nhập tên sản phẩm.." id="input_search">
           
          </div>
    </div><div id="list_product">
        
    </div>
       </div>

          <div class="show-page" id="showdetail">
            <span onclick="showModel()">Dòng sản phẩm</span>
            <span onclick="showDetail()">Các sản phẩm</span>
            <div class="col-md-6" id="box-search">

              <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Nhập tên sản phẩm.." id="input_search_detail">
               
              </div>
            </div>
            <div id="list_detail">
      
           </div>
         </div>
       </div>
      </div>
     
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>s
  <script src="../js/editproduct.js"></script>
  <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendors/skrollr.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="vendors/jquery.ajaxchimp.min.js"></script>
  <script src="vendors/mail-script.js"></script> -->
  <script src="js/main.js"></script>
  <script src="../js/display_login.js"></script>
  <script src="../js/productadmin.js"></script>
  <script>
      function showModel(){
          document.getElementById('showmodel').style.display='block';
          document.getElementById('showdetail').style.display='none';
      }
      function showDetail(){
          document.getElementById('showmodel').style.display='none';
          document.getElementById('showdetail').style.display='block';
      }
  </script>
</body>
</html>